.page-track {
  position: absolute;
  width: 1440px;
  height: 40px;
  top: 101px;
  background: #0cb2b2;
  position: fixed;
}

.pages {
  position: absolute;
  height: 15px;
  left: 20px;
  top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
.pages a {
  color: #ffff;
}

h2 {
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #0cb2b2;
  font-size: 14px;
  margin-top: 160px;
  width: 20%;
  padding: 20px;
  position: fixed;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: flex;
  position: absolute;
}

.wrapper .sidebar {
  width: 20%;
  height: 100%;
  background: #fff;
  padding: 10px 0px;
  margin-top: 220px;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .sidebar ul li {
  padding: 15px;
}

.wrapper .sidebar ul li a {
  color: #000;
  display: block;
  width: 100%;
  font-weight: 600;
  font-style: normal;
  line-height: 10px;
  margin-left: 10px;
}
i {
  position: absolute;
  display: inline-block;
  left: auto;
  right: 30px;
}
.wrapper .sidebar ul li a:hover {
  color: #fff;
}
.wrapper .sidebar ul li:hover {
  background-color: #0cb2b2;
}

.pharmacy-main-screen-footer {
  position: absolute;
  width: 220px;
  height: 14px;
  left: 615px;
  top: 850px;
  padding-bottom: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: rgba(19, 52, 116, 0.33);
}
