*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0CB2B2;
    --very-light-gray:#F5F5F5;
    --white-color: #fff;
    --dark-gray: #000000B2;
    --shadow: 0 4px 6px -2px rgba(131, 51, 51, 0.25);
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8rem;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 100%; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    width: 90%;
    max-width: 120rem;
    margin: auto;
}

/* HEADER */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 5.8rem;
    background: var(--white-color);
    box-shadow: var(--shadow);
    z-index: 99;
}
.navbar.sticky {
    background: var(--primary-color);
}
.navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.8rem;
}
.navbar .content .brand img {
    width: 150px;
    background: var(--white-color);
    padding: 0.3rem;
}
.navbar .content .logo img {
    width: 60px;
    background: var(--white-color);
    padding: 0.3rem;
}

/* HERO SECTION  */
.hero {
    position: relative;
    top: 5.8rem;
    left: 0;
    width: 100%;
    min-height: 90vh;
    background: url(/assets/img/banner.png) no-repeat center;
    background-size: cover;
}

.hero .container {
    position: relative;
    width: 90%;
    height: 60vh;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .container .logo img {
    width: 8rem;
    padding-bottom: 2rem;
}

.hero .container .brand {
    width: 25rem;
    padding-bottom: 3rem;
}

.hero .container .headline {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark-gray);
    z-index: 1;
}

/* CTA SECTION  */
.cta .container {
    width: 90%;
    height: 20vh;
    margin: 5rem auto;
    text-align: center;
}

.cta .container .buttons {
    display: inline-flex;
    margin: 5rem 0;
}

.btn {
    margin: 2.5rem 4rem;
}

.buttons .pri-btn a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 5rem;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    transition: .5s ease;
}

.buttons .pri-btn a:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.buttons .ghost-btn a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 4rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: .5s ease;
}

.buttons .ghost-btn a:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

/* FEATURES SECTION  */
.feature {
    width: 100%;
    min-height: 100vh;
}

.feature .container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

.feature .container .topic {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-gray);
    text-align: center;
    padding-bottom: 1rem;
}

.feature .container .features .first, .second {
    width: 100%;
    height: 70vh;
    background: url(/assets/img/bg.png) no-repeat center;
    background-size: cover;
    display: flex;
}

.feature .container .features .first .content, .second .content {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.feature .container .features .first .content  .textbox, .second .textbox-2 {
    font-size: 5rem;
    color: var(--primary-color);
    width: 65%;
    height: 40%;
    z-index: 1;
}

.feature .container .features .first .content img {
    position: absolute;
    top: 72rem;
    right: 5rem;
    width: 400px;
    z-index: 0;
}

.features .detail {
    width: 90%;
    height: 10vh;
    padding: 2rem 0;
    margin: 3rem auto;
    text-align: center;
}

.features .detail p {
    font-size: 2.5rem;
    color: var(--dark-gray);
}

.feature .container .features .second .content img {
    position: absolute;
    top: 116.8rem;
    left: 5rem;
    width: 380px;
    z-index: 0;
}

.feature .container .features .second .content {
    display: flex;
    justify-content: flex-end;
}

.second .textbox-2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

/* WHAT WE DO SECTION  */
.info {
    position: relative;
    height: 100vh;
}

.info .container {
    width: 100%;
} 

.info .container .contentbox-1 {
    width: 100%;
    height: 50vh;
    background: var(--very-light-gray);
    padding: 1rem;
}

.info .container .contentbox-1 img {
    width: 260px;
    height: 260px;
}

.info .container .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    padding-top: 1rem;
}

.info .container .contentbox-1 .content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
}

.info .container .contentbox-1 .content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    padding-top: 1rem;
}

.info .container .contentbox-1 .content .sub-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.info .container .contentbox-2 {
    width: 100%;
    margin: auto;
    height: 50vh;
    background: linear-gradient(270deg, #0CB2B2 0%, rgba(12, 178, 178, 0) 100%);
    padding: 1rem;
}

.info .container .contentbox-2 .sub-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    padding-bottom: 1rem;
}

.info .container .contentbox-2 .content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 0;
}

.info .container .contentbox-2 .content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    padding-top: 1rem;
}

.extra {
    width: 100%;
    height: 110vh;
}

.extra .container {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.extra .container .grid-1 {
    height: 50vh;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 200px;
    align-items: center;
}

.extra .container .grid img {
    width: 60%;
}

.extra .container .grid .textbx p {
    font-size: 24px;
}

.extra .container .grid-2 {
    height: 50vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

/* FOOTER SECTION  */
footer {
    height: 40vh;
    margin: 1rem auto;
    border-top: 2px solid var(--very-light-gray);
    
}

footer .container {
    width: 90%;
    height: 40vh;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .container ul {
    display: flex;
}

footer .container .nav-links li {
    margin: 2rem 4rem;
}

footer .container .nav-links li a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    transition: color .5s ease;
}

footer .container .nav-links li a:hover {
    color:var(--dark-gray)
}

.container .media-icons {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .media-icons ul li {
    margin-right: 4rem;
    margin-top: 5rem;
}

.container .media-icons ul li a {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.container .media-icons ul li a:hover {
    color:var(--dark-gray)
}

footer .copy-right {
    font-size: 1.5rem;
    color: #13347454;
}

/* LOG-IN PAGE CSS  */
.page-track {
    position: fixed;
    top: 5.8rem;
    left: 0;
    width: 100%;
    height: 15vh;
    background: var(--white-color);
    padding: 2rem 0;
    z-index: 1;
}
.page-track .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: var(--primary-color);  
}

.page-track .content .pages {
    width: 90%;
    margin: auto;
}

.page-track .content a {
    font-size: 1rem;
    color: var(--white-color);
}

.form {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--very-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .arrow-left {
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 1.5rem;
}

.form .form-container {
    position: relative;
    width: 60%;
    height: 80vh;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .form-container .form-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-gray);
    margin-top: 2rem;
}
.form .form-container p {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-gray);
    margin: 1rem 0;
}

.form .form-container p a {
    color: var(--primary-color);
}

.form .form-container .input-group {
    width: 50%;
    height: 60vh;
    margin-top: 2rem;
}

.form .form-container .input-group > div {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-gray);
}

.form .form-container .input-field::placeholder {
    opacity: 0.4;
} /* This is for password reset page  */

.form .form-container .p-detail {
    font-weight: 400;
    color: var(--dark-gray);
    opacity: 0.7;
    width: 70%;
    margin: 1rem auto;
    text-align: center;
} /* This is for password reset page  */

.input-field {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-gray);
    width: 100%;
    padding: 10px 10px;
    margin: 0.5rem 0;
    outline: none;
    border: 1px solid var(--dark-gray);
}

.login-btn {
    display: block;
    width: 100%;
    margin: auto;
    padding: 12px 30px;
    background: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    box-shadow: var(--shadow);
    transition: .5s ease;
}

.login-btn:hover {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.chechbtx-section {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chechbtx-section span {
    opacity: 0.5;
}

.nav-reg {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.login-footer {
    position: absolute;
    bottom: -12rem;
    left: 0;
    width: 100%;
    height: 7vh;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*           SEARCH PAGE CSS             */
.banner {
    position: relative;
    top: 6rem;
    left: 0;
    width: 100%;
    min-height: 60vh;
    background: url(/assets/img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .container {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .container .search-headline {
    font-size: 4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.banner .container .right {
    position: relative;
    top: 1.7rem;
    right: 0;
    width: 300px;
}

.search-rider {
    position: relative;
    top: 7rem;
    left: 0;
    height: 15vh;
    margin-bottom: 10rem;
    text-align: center;
}

.search-rider .rider {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.search-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    text-align: center;
    margin-bottom: -10rem;
}

.search-container .search-area {
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container .search-area .fas {
    font-size: 5rem;
    padding-bottom: 1rem;
}

.search-container .search-area .topic {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark-gray);
    padding-bottom: 2rem;
}

.search-container .search-area .input-group {
    width: 80%;
}

.search-container .search-area 
.input-group .input-field {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-gray);
    padding: 1.2rem 2rem;
    margin: 1.6rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.search-container .search-area 
.input-group .input-field::placeholder {
    color: #BFBFBF;
}

.search-container .search-area 
.input-group button {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    background: var(--primary-color);
    padding: 1rem 3rem;
    outline: none;
    margin-bottom: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: .5s ease;
}

.search-container .search-area 
.input-group button:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.or {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-gray);
    margin-bottom: 1.5rem;
}

.search-container .search-area 
.input-group a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

/*     CONTACT PAGE CSS    */
.bar {
    position: fixed;
    top: 5.5rem;
    width: 100%;
    background: var(--white-color);
    z-index: 1;
}
.bar .bar-content {
    height: 40px;
    background: var(--primary-color);  
}
.bar h2{
    margin: 0.5em 0em 1em 2em;
}
.form .contact-container {
    position: absolute;
    width: 80%;
    height: 80vh;
    background: var(--white-color);
    padding: 3em 0em 0em 2.4em;
}
.contact-container > div{
    margin-top: 2em;
}
.contact-container select{
    padding: 0.8em;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    width: 450px;
    margin-right: 4em;
}
#fullname, #comment{
    border: 1px solid var(--primary-color); 
    width: 91.4%;
    border-radius: 6px;
}
#comment{
    height: 13em;
}
input[placeholder="Write a comment"]{
    padding-bottom: 9em;
}
.contact-container button{
    display: inline-block;
    border: 1px solid var(--primary-color);    
    border-radius: 6px;
    padding: 1em;
    width: 140px;
}
.send-btn{
        background: var(--primary-color);
        font-size: 1rem;
        font-weight: 600;
        box-shadow: var(--shadow);
        transition: .5s ease;
        text-decoration: none;
        float: right;
        margin-right: 4em;
}
.send-btn a{
    color: var(--white-color);
}
.cancel-btn{
    background: var(--white-color);
    box-shadow: var(--shadow);
}
.cancel-btn a{
    color: var(--primary-color);
}

    /*     ABOUT PAGE CSS     */
    h2 {
        color: var(--primary-color);
        font-weight: 500;
        margin-bottom: 0.7em;
    }
    .info{
        margin: 8em 2em 1em 2em;
    }
    .footer-content{
     font-weight: 400;
    }
    .info .cancel .fas{
        color: black;
        float: right;
        margin-top: 0.2rem;
        font-size: 1.5rem;
    }
    .cancel .fas:hover{
        transform: scale(1.5);
    }
    .bottom{
        width: 100%;
        display: flex;
        justify-content: center;
         position: absolute;
        bottom: 1em; 
    }
    .bottom .copy-right {
        font-size: 1rem;
        color: #13347454;
    }
    
        /*        CONTACTUS-SENT PAGE CSS    */
    .sent-content{
        width: 80%;
       justify-content: center;
       margin: auto;
       height: 80vh;
    }
    .sent-content > div{
       margin-top: 2.4em;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .sent-content > div > p{
       padding-bottom: 1em;
       font-weight: 500;
    }
    .sent{
       font-weight: 500;
       opacity: 0.6;
    }
    .check{
       margin-top: 2em;
       border-radius: 100%;
       width: 240px;
       height: 240px;
       background-color: var(--primary-color);
    }
    .check .fas{
       color: white;
       width: 100%;
       font-size: 95px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 0.8em;
    }

    /* FAQ PAGE CSS   */
    .faq{
        position: fixed;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 1px;
        width: 90%;
    }
    div ul{
        list-style: none;
    }
    div ul li {
        position: relative;
        border-bottom: 1px solid rgb(214, 202, 202);
        border-left: 4px solid transparent;
    }
    .first:hover{
        border-left-color: var(--primary-color);
        background-color: rgb(247, 245, 245);
    }
    div ul li a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    div ul ul{
        position: static;
        display: none;
    }
    div ul .app-show.show, div ul .pharm-show.show1, div ul .drug-show.show2{
        display:block;
    }
    div ul ul li {
        padding-left: 9px;
    }
    div ul li a span{
        color:  var(--primary-color);
        position: absolute;
        top: 50%;
        right: -2%;
        transform: translateY(-50%);
        transition: transform 0.4s;
    }
    div ul li a span.rotate{
        transform: translateY(-50%) rotate(-180deg);
    }

/*        RESPONSIVE MEDIA QUERIES       */
@media (max-width:480px){

    /* contact page */
    .form .contact-container{ 
         height: 100vh; 
         margin-top: 8em;
     } 
    .contact-container > div{
        margin-top: 1em;
    }
    .contact-container .form-title{
        margin-top: -1em;
        font-weight: 300;
    }
    .contact-container select{
        width: 40%;
        margin-right: 1em;
    }
    .send-btn{
        margin-top: 1.5em;
    }



    /* FAQ page */
    .faq{
        width: 70%;
    }
}

@media (max-width: 800px) {
    .hero .container .logo {
        width: 5rem;
    }

    .hero .container .brand {
        width: 11rem;
    }

    .cta .container .buttons {
        flex-direction: column;
        gap: 20px;
        margin: 4rem 0;
    }

    .feature {
        margin-top: 12rem;
    }

    .feature .drawkit {
        display: none;
    }

    .feature .textbox-2 {
        width: 100%;
    }
    .info .container .contentbox-1 .content p, 
    .info .container .contentbox-2 .content p {
        font-size: 1.4rem;
    }

    .extra .container .grid {
        gap: 100px;
    }

    .extra .container .grid-2 {
        gap: 0;
    }

    footer .container .nav-links li {
        margin: 2rem 1.5rem;
    }

    /* Search page  */
    .search-container .search-area .fas {
        font-size: 3.5rem;
        padding-top: 3rem;
        padding-bottom: 0;
    }

    .search-container .search-area .topic {
        font-size: 2rem;
    }  
}
@media (max-width: 700px) {
    .hero .container .headline {
        font-size: 4rem;
    }

    .feature .container .features .first .content .textbox {
        width: 100%;
    }

    .extra .container .grid-1 {
        margin-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .extra .container .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px; 
    }
    /* Search page  */
    .banner .container .search-headline {
        width: 100%;
        text-align: center;
    }
    .banner .container .right {
        display: none;
    }

    .search-rider .rider {
        font-size: 1.6rem;
    }
}

@media (max-width: 750px) {
    .feature .container .features .detail p {
        font-size: 2rem;
    }

    .info .container img {
        display: none;
    }

    .info .container .contentbox-1 .content {
        display: flex;
        flex-direction: column;   
    }

    .container .media-icons ul li {
        margin-right: 0.8rem;
    }

    .info .container .contentbox-2 .content {
        display: flex;
        flex-direction: column; 
    }

    footer .container .nav-links {
        flex-direction: column;
        align-items: center;
    }

    footer .container .media-icons {
        margin-top: -4rem;
        margin-bottom: 5rem;
    }

    /* Search page  */
    .search-rider {
        padding: 0 2rem;
        height: 5vh;
    }
    .search-container {
        margin-bottom: -6rem;
    }
}

@media (max-width: 493px) {
    .hero .container .headline {
        font-size: 3rem;
    }

    .feature .container .features .first .content .textbox {
        font-size: 4rem;
    }

    .feature .container .features .second .content .textbox-2 {
        font-size: 4rem;
    }
}

@media (max-width: 390px) {
    .hero .container {
        align-items: center;
    }

    .hero .container .headline {
        font-size: 2rem;
        text-align: center;
    }

    .feature .container .features .first .content .textbox {
        font-size: 3rem;
        text-align: center;
    }

    .feature .container .features .second .content .textbox-2 {
        font-size: 3rem;
        text-align: center;
    }

    .feature .container .topic {
        font-size: 1.4rem;
    }

    .feature .container .features .detail p {
        font-size: 1.4rem;
    }

    .info .container .contentbox-1 .title {
        font-size: 1.4rem;
    }

    .info .container .contentbox-1 .content .sub-title, 
    .info .container .contentbox-2 .content .sub-title {
        font-size: 1.4rem;
        padding-bottom: 0;
    }

    .extra .container .grid .textbx p {
        font-size: 1.2rem;
    }

    footer .container .copy-right {
        font-size: 1rem;
    }
    /* Search page  */
    .banner .container .search-headline {
        font-size: 3rem;
    }

    .search-container .search-area .topic {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}

    @media screen and (max-width: 800px) and (min-width: 480px) {

        /* Contact Us Page */
        .contact-container select{
            width: 40%;
        }
        .form .contact-container{
            height: 60vh;
            margin-top: -18em;
        }
    }


@media (max-width: 1160px) {
    .chechbtx-section {
        flex-direction: column;
    }
}