*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0CB2B2;
    --very-light-gray:#F5F5F5;
    --white-color: #fff;
    --dark-gray: #000000B2;
    --shadow: 0 4px 6px -2px rgba(131, 51, 51, 0.25);
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8rem;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 100%; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    width: 90%;
    max-width: 120rem;
    margin: auto;
}

/* HEADER */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 5.8rem;
    background: var(--white-color);
    box-shadow: var(--shadow);
    z-index: 99;
}
.navbar.sticky {
    background: var(--primary-color);
}
.navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.8rem;
}
.navbar .content .brand img {
    width: 150px;
    background: var(--white-color);
    padding: 0.3rem;
}
.navbar .content .logo img {
    width: 60px;
    background: var(--white-color);
    padding: 0.3rem;
}

/* HERO SECTION  */
.hero {
    width: 100%;
    height: 95vh;
    background: url(/assets/img/banner.png) no-repeat center;
    background-size: cover;
    border-radius: 0 0 15px 15px;
}

.hero img {
    width: 400px;
}

.hero .right {
    position: absolute;
    top: 148px;
    right: 0;
    z-index: 0;
}

.hero .container {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 90vh;
}

.hero .container .headline {
    font-size: 72px;
    font-weight: 400;
    color: var(--primary-color);
    width: 460px;
    z-index: 1;
}

/* CTA SECTION  */
.cta .container {
    width: 90%;
    height: 50vh;
    margin: 2rem auto;
    text-align: center;
}

.cta .container .title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.cta .container .buttons {
    display: inline-flex;
    margin: 5rem 0;
}

.btn {
    margin: 2.5rem 4rem;
}

.buttons .pri-btn a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 4rem;
    background: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    transition: .5s ease;
}

.buttons .pri-btn a:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.buttons .ghost-btn a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 3rem;
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: .5s ease;
}

.buttons .ghost-btn a:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

/* PHARMACEUTICAL SECTION  */
.pharmaceutical {
    width: 100%;
    height: 80vh;
    background: url(/assets/img/banner.png) no-repeat center;
    background-size: cover;
    border-radius: 0 0 15px 15px;  
}

.pharmaceutical .container {
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.pharmaceutical .container h2 {
    font-size: 70px;
    font-weight: 400;
    color: var(--primary-color);
    width: 460px;
    z-index: 1;
}

.pharmaceutical img {
    width: 400px;
}

.pharmaceutical .right {
    position: absolute;
    top: 153%;
    right: 0;
    z-index: 0;
}

.detail {
    width: 90%;
    height: 25vh;
    margin: 2rem auto;
}

.detail p {
    font-size: 3rem;
    font-weight: 400;
    color: var(--dark-gray);
}

/* FOOTER SECTION  */
footer {
    height: 40vh;
    margin: 1rem auto;
    border-top: 2px solid var(--very-light-gray);
}

footer .container {
    width: 90%;
    height: 40vh;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .container ul {
    display: flex;
}

footer .container .nav-links li {
    margin: 2rem 6rem;
}

footer .container .nav-links li a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    transition: color .5s ease;
}

footer .container .nav-links li a:hover {
    color:var(--dark-gray)
}

.container .media-icons {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .media-icons ul li {
    margin-right: 4rem;
    margin-top: 5rem;
}

.container .media-icons ul li a {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.container .media-icons ul li a:hover {
    color:var(--dark-gray)
}

footer .copy-right {
    font-size: 1rem;
    color: #13347454;
}

/* LOG-IN PAGE CSS  */
.pagination {
    position: fixed;
    top: 5.8rem;
    left: 0;
    width: 100%;
    height: 15vh;
    background: var(--white-color);
    padding: 2rem 0;
    z-index: 1;
}
.pagination .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: var(--primary-color);  
}

.pagination .content .pages {
    width: 90%;
    margin: auto;
}

.pagination .content a {
    font-size: 1rem;
    color: var(--white-color);
}

.form {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--very-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .form-container {
    position: relative;
    width: 60%;
    height: 80vh;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .form-container .form-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-gray);
}
.form .form-container p {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-gray);
    margin: 1rem 0;
}

.form .form-container p a {
    color: var(--primary-color);
}

.form .form-container .input-group {
    width: 50%;
    height: 60vh;
    margin-top: 2rem;
}

.form .form-container .input-group > div {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-gray);
}

.input-field {
    width: 100%;
    padding: 10px 10px;
    margin: 0.5rem 0;
    outline: none;
    font-size: 1rem;
}

.login-btn {
    display: block;
    width: 100%;
    margin: auto;
    padding: 12px 30px;
    background: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    box-shadow: var(--shadow);
    transition: .5s ease;
}

.login-btn:hover {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.chechbtx-section {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-reg {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.login-footer {
    position: absolute;
    bottom: -12rem;
    left: 0;
    width: 100%;
    height: 7vh;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 800px) {
    .hero .container .headline {
        font-size: 5rem;
    }
    .hero .right {
        display: none;
    }
    .cta .container .title {
        font-size: 2.5rem;
    }
    .cta .container .buttons {
        flex-direction: column;
        gap: 20px;
        margin: 4rem 0;
    }
    .pharmaceutical .right {
        display: none;
    }
    .pharmaceutical .container h2 {
        font-size: 5rem;
    }
    footer .container .nav-links li {
        margin: 2rem 2rem;
    }
}

@media (max-width: 1160px) {
    .chechbtx-section {
        flex-direction: column;
    }
}